.imgstyle {
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.data-container {
  display: grid;
  gap: 4rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 78px;
  padding: 4rem;
  font-family: "Questrial";
  place-content: center;
  color: #1f1f37;
  margin: 4rem 0;
}

.data-container h1 {
  font-size: 1.4rem;
}

.data-container p {
  font-size: 1.2rem;
  text-decoration: underline;
  line-height: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  white-space: nowrap;
  color: #1f1f37;
}

.container span {
  color: #5d5e76;
  font-size: 1.1rem;
}

.categories {
  display: flex;
  gap: 1.4rem;
}

/* Button */

.load-more-btn {
  font-family: "Poppins";
  background-color: #d2675e;
  color: #fcfbf8;
  border: 1px solid #d2675e;
  border-radius: 0.2rem;
  padding: 8px 12px;
  margin: 0 0 10rem 0;
  cursor: pointer;
  transition: 0.4s;
}

.load-more-btn:hover {
  background-color: #fcfbf8;
  color: #d2675e;
  border: 1px solid #d2675e;
}

/* Media queries */

@media (max-width: 768px) {
  .imgstyle {
    height: 150px;
  }

  .data-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2rem;
    border-radius: 24px;
  }

  .data-container h1 {
    font-size: 1.2rem;
  }

  .data-container p {
    font-size: 1rem;
  }

  .container {
    gap: 0.4rem;
  }

  .container span {
    font-size: 1rem;
  }

  .categories {
    gap: 1rem;
  }

  .load-more-btn {
    margin-bottom: 4rem;
  }
}
