.carousel-intro {
  display: flex;
  justify-content: space-between;
  font-family: "Questrial";
  font-size: 2.4rem;
  margin: 0 3rem;
}

.carousel-intro p {
  justify-content: start;
}

.view-all-btn {
  font-family: "Poppins";
  background-color: #d2675e;
  color: #fcfbf8;
  border: 1px solid #d2675e;
  border-radius: 0.2rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.view-all-btn:hover {
  background-color: #fcfbf8;
  color: #d2675e;
  border: 1px solid #d2675e;
}

.line {
  border: 1px solid #5d5e76;
  margin: 1rem 3rem;
}

.carousel {
  width: 100%;
  height: 486px;
  position: relative;
}

.slide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  position: absolute;
  width: 100%;
  font-family: "Questrial";
  color: #1f1f37;
  margin: 4rem 0;
  transition: all 0.5s;
}

.slide img {
  border-radius: 4px;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  white-space: nowrap;
  color: #1f1f37;
}

.container span {
  color: #5d5e76;
  font-size: 1.1rem;
}

.container h1 {
  font-size: 1.4rem;
}

.container p {
  font-size: 1.2rem;
  text-decoration: underline;
  line-height: 1.4rem;
}

.categories {
  display: flex;
  gap: 1.4rem;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: aliceblue;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-prev {
  background-color: #d2675e;
  top: 45%;
  left: 0%;
}

.btn-next {
  background-color: #d2675e;
  top: 45%;
  right: 0%;
}
