/* Seasonal */

.seasonal-container {
  width: 100%;
  height: auto;
  background-color: #ffe29c;
  display: flex;
  justify-content: center;
  color: #1f1f37;
  font-family: "Poppins";
  gap: 3rem;
  padding: 5rem 0;
}

.seasonal-rec {
  max-width: 1200px;
  display: flex;
  gap: 6rem;
  align-items: center;
}

.seasonal-text,
.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin: 1rem 0;
}

.text-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 200;
  white-space: nowrap;
}

.text-wrapper {
  gap: 2rem;
}

.read-more {
  font-family: "Questrial";
  font-size: 1.2rem;
  text-decoration: underline;
  line-height: 1.4rem;
}

.seasonal-rec img {
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

/* Trending */

.trending-container {
  width: 100%;
  max-width: 1200px;
  height: 486px;
  position: relative;
  margin: 6rem auto;
}

/* Cont. on carousel.css */

/* Newsletter */

.newsletter {
  margin: 0 auto;
  width: 100%;
  height: 16rem;
  background-color: #ffe29c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f1f37;
}

.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.newsletter-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Questrial";
  gap: 6rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 306px;
  gap: 0.6rem;
}

input,
textarea {
  font-family: "Poppins";
  height: 40px;
  border: 1px solid #ad3745;
  padding: 0.4rem;
  border-radius: 3px;
}

input:focus {
  outline: 1.4px solid #ad3745;
}

textarea {
  resize: none;
  min-height: 120px;
}

textarea:focus {
  outline: 1.4px solid #ad3745;
}

::placeholder {
  font-family: "Poppins";
  color: #9999b1;
}

input[type="submit"] {
  background-color: #ad3745;
  color: #fcfbf8;
  padding: 0.4rem 1rem;
  border: 1px solid #ad3745;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  background-color: #fcfbf8;
  color: #ad3745;
  border: 1px solid #ad3745;
}

/* About */

.about-wrapper {
  display: flex;
  min-width: 306px;
  gap: 5rem;
  font-family: "Questrial";
  color: #1f1f37;
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 8rem 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 34rem;
  gap: 1rem;
}

.about-content h2 {
  font-size: 1.2rem;
}

.credit {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.credit img {
  margin: 2rem 0;
  height: 4rem;
  transition: transform 0.3s ease-in-out;
}

.credit img:hover {
  transform: scale(1.1);
}

.the-duchess img {
  max-width: 100%;
  height: auto;
  border-radius: 1%;
}

/* Media queries */

@media (max-width: 1270px) {
  .about-container {
    max-width: 80%;
    margin: 0 auto;
  }
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper,
  .about-content,
  .credit {
    gap: 1.5rem;
  }

  .credit img {
    height: 3rem;
  }
}

@media (max-width: 1022px) {
  .newsletter {
    height: auto;
    padding: 2rem;
  }

  .newsletter-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
